<app-header></app-header>
<div class="container mt-3">
  {{today | date:'short'}}
  <div class="row p-5">
    <div class="col">
      <h3 class="text-danger">Filter</h3>
    </div>
    <div class="col">
      <h3 class="text-danger" >All Recipies</h3>
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="SearchKey" placeholder="Search recipies" class="form-control border-danger">
    </div>
  </div>

  <div class="row">
    <div class="col-2">

      <div class="mb-3">
        <button class="fs-6 ml-2 btn" (click)="getAllrecipies()">All</button> <br>
        <button  class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
          Cuisine Type
        </button>
        <div class="collapse" id="collapseExample1">
          @for (item of cuisineType; track $index) {
            <button (click)="filterRecipie('cuisine',item)" class="btn btn-outline-light  text-dark m-2">
             
 {{item}}
             
          
          </button>
          }
        </div>
      </div>

      <div>
        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
          Meal Type
        </button>
        <div class="collapse" id="collapseExample2">
           @for (item of updatedMealType; track $index) {
            <button (click)="filterRecipie('mealType',item)" class="btn btn-outline-light  text-dark m-2">
             
 {{item}}
             
          
          </button>
          }
        </div>
      </div>
    </div>

    <div class="col">
      <div class="container">
    
        <div class="row g-4">
         @for (item of allRecipies | search :SearchKey | paginate: { itemsPerPage: 10, currentPage: p }; track $index) {
           <div class="col-md-4">
            <div class="card" (click)="viewRecipie(item._id)">
              <img
                src={{item.image}}
                class="card-img-top" alt="Vegetarian Stir-Fry" width="150" height="300">
              <div class="card-body">
                <h5 class="card-title text-danger text-center fw-semibold">{{item.name}}</h5>
              </div>
            </div>
          </div>
         }
      </div>
    </div>
     <div class="d-flex justify-content-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
     </div>
  </div>
</div>
