<footer class="bg-danger text-white py-5">
  <div class="container">
    <div class="row gy-4">

      <!-- Logo and Description -->
      <div class="col-md-4">
        <h4 class="d-flex align-items-center">
          <span class="me-2">👨‍🍳</span> Cookpedia
        </h4>
        <p>Discover 100+ recipes in your hand with the best recipe. Help you to find the easiest way to cook.</p>
      </div>

      <!-- Newsletter Signup -->
      <div class="col-md-4">
        <h5>Sign up for our newsletter</h5>
        <form class="d-flex">
          <input type="email" class="form-control me-2" placeholder="Enter your Mail id" />
          <button type="submit" class="btn btn-light">➤</button>
        </form>
      </div>

      <!-- Footer Links -->
      <div class="col-md-4">
        <div class="row">
          <div class="col-4">
            <h6>Menu</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">Home</a></li>
              <li><a href="#" class="text-white text-decoration-none">Recipes</a></li>
              <li><a href="#" class="text-white text-decoration-none">About</a></li>
              <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
            </ul>
          </div>
          <div class="col-4">
            <h6>Help</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">Login</a></li>
              <li><a href="#" class="text-white text-decoration-none">Register</a></li>
              <li><a href="#" class="text-white text-decoration-none">Terms of Use</a></li>
              <li><a href="#" class="text-white text-decoration-none">Privacy & Policy</a></li>
            </ul>
          </div>
          <div class="col-4">
            <h6>Social Media</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">Facebook</a></li>
              <li><a href="#" class="text-white text-decoration-none">Instagram</a></li>
              <li><a href="#" class="text-white text-decoration-none">Twitter</a></li>
              <li><a href="#" class="text-white text-decoration-none">YouTube</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>