<app-header></app-header>
<div class="row">
<div class="col-6">
    <img src="https://cdn.pixabay.com/photo/2022/01/18/16/30/vegetables-6947442_1280.jpg" alt="" height="400">
</div>
<div class="col-6">
    <h3 class="mt-5">Welcome to Cook With Me</h3>
    <p class="">Discover 100+ recipes in your hand with the best .</p>
        <span>Help you find the easiest way to cook</span>
</div>
</div>
<div class="row">
    <div class="col-6 mt-5 mb-3 px-5">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsa in mollitia molestias nostrum recusandae animi laboriosam iste nobis, expedita, odit exercitationem magni eum qui vitae porro quasi assumenda commodi?</p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Ipsam ipsa in mollitia molestias nostrum recusandae animi laboriosam</li>
            <li>iste nobis, expedita, odit exercitationem magni eum qui vitae</li>
            <li>porro quasi assumenda commodi</li>
        </ul>
        <button class="rounded bg-danger text-light btn btn-outline-light">Know More about us</button>
    </div>
    <div class="col-6 mb-5">
        <img src="https://cdn.pixabay.com/photo/2020/11/19/16/40/chef-5759101_1280.jpg" alt="" height="450" width="550" class="rounded">
    </div>
</div>
<app-footer></app-footer>