<app-header></app-header>
<div class="row">
    <div class="col-4 mt-3 ">
        <h4 class="px-3">My Profile</h4>
        <label for="img">
            <img [src]="imageUrl" alt="" height="200">
              <input (change)="getFileName($event)" type="file" id="img" hidden>
        </label>
      

        <div class="px-5 mt-3">
       
             <button class="rounded bg-danger btn btn-outline-light px-2" (click)="userProfileUpdate()">Update profile</button>

        </div>
    </div>

    <div class="col-8">
        <p class="fw-bold text-center fs-4 mb-4 mt-4">Downloaded Recipe List</p>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            @for (item of downloadedList; track $index) {
            <div class="col">
                <div class="card h-100 w-75 shadow-sm text-center">
                    <img [src]="item.image" class="card-img-top object-fit-contain"
                        style="height: 150px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>


</div>
<app-footer></app-footer>